






    <div class="container bg-light">
        <img src="../assets/screen-3.jpg" width="100%" />
        <div class="write1">
          <h1 class="font-weight-bold text-light"></h1>
          <form>
            <table align="center">
              <tr>
                <td class="text-light font-weight-bold"><h2>Name</h2></td>
                <td><input type="text" required /></td>
              </tr>
              <tr>
                <td class="text-light font-weight-bold"><h2>Categorie</h2></td>
              
                <div class="form-floating">
                    <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
                      <option selected>Open one</option>
                      <option value="1">Sport</option>
                      <option value="2">Course</option>
                      <option value="3">action</option>
                    </select>
                    <label for="floatingSelectGrid">Categorie</label>
                  </div>

              </tr>

              <tr>
                <td class="text-light font-weight-bold"><h2>Photo</h2></td>
                <td><input type="file" required /></td>
              </tr>

              <tr>
                <td class="text-light font-weight-bold"><h2>file</h2></td>
                <td><input type="file" required /></td>
              </tr>

             <tr>
                <td class="text-light font-weight-bold"><h2>Description</h2></td>
             <td>
                <textarea id="w3review" name="w3review" rows="4" cols="50">
                
                    
                    
                    
                </textarea>
             </td>


             </tr>


              <tr>
                
                <td>
                  <input
                    type="submit"
                    value="ajouter  "
                    class="btn btn-success"
                  />
                </td>
              </tr>
            </table>
          </form>
        </div>
      </div>
  

  