

    <div class="container bg-light">
      <img src="../assets/screen-3.jpg" width="100%" />
      <div class="write">
        <h1 class="font-weight-bold text-light"></h1>
        <form>
          <table align="center">
            <tr>
              <td class="text-light font-weight-bold"><h2>admin name</h2></td>
              <td><input type="text" required /></td>
            </tr>
            <tr>
              <td class="text-light font-weight-bold"><h2>admin code</h2></td>
              <td><input type="number" required /></td>
            </tr>
            <tr>
              <td class="text-light font-weight-bold">
                <h2>admin password</h2>
              </td>
              <td><input type="password" required /></td>
            </tr>
            <tr>
              <td align="center">
                <input type="reset" value="CANCEL" class="btn btn-danger" />
              </td>
              <td align="center">
                <input type="submit" value="Login " class="btn btn-success" />
              </td>
            </tr>
          </table>
        </form>
      </div>
    </div>