<br><br>

    <div>
  <div class="card" >
    <img src="{{  title[4] }}" class="card-img-top"  height="150" width="200">
    <div class="card-body">
      <h5 class="card-title"> {{ title[0] }}</h5>
      <p class="card-text">{{ title[2] }}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item" id="name_game"> {{ title[1] }} </li>
      <li class="list-group-item">Nombre de telechargement {{ title[3] }} </li>
    </ul>
    <div class="card-body">
      <a  class="card-link">  <button type="button" class="btn btn-warning" value="Installer" (click)="add()" >Installer</button>  </a>
    </div>
  </div> 
</div>  


