<br><br>

    <div>
  <div class="card" >
    <img src="../assets/screen-3.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"> Name Game</h5>
      <p class="card-text">Some quick example text to build on the Game title and make up the bulk of the Game's content.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Categorie</li>
      <li class="list-group-item">Nombre de telechargement</li>
      
    </ul>
    <div class="card-body">
      <a  class="card-link">  <button type="button" class="btn btn-warning" (click)="toMAJ()"  >MAJ</button>  </a>
      <a  class="card-link"> <button type="button" class="btn btn-danger">Supprimer</button></a>
    </div>
  </div> 
</div>  


